
* {
    font-family: 'Dancing Script', cursive;
}


#myContainer {
    margin-top: -100px;
    margin-bottom: 15vh;
    background-color: #f4daff;
    background-size: 100%;
}


.head-text {
    font-size: 120px;
}

.comment-text {
    font-size: 80px;
    margin-bottom: 10vh;
}

#click-quote, 
#space-quote, 
#click-chuck {
    background-color: #41708c;
    color: white;
    font-weight: bold;
    border-radius: 2em;
}

.topContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: -10vh;
    margin-bottom: 5vh;
}

.kittyCard {

    margin-left: 2vw;
    height: 780px;
    border: 2px solid white;
    border-radius: 2em;
}

#kittyPic {
    border-radius: 2em;
}

#affirmation {
    background-color: white;
    height: 30%;
    overflow: scroll;
    
}
 
.spaceCard {
    height: 780px;
    border: 2px solid white;
    border-radius: 2em;
}

#spaceImage {
    border-radius: 2em;
}

.space-place {
    height: 30%;
}

#spotifyPlayer {

    height: 780px;
    border: 2px solid white;
    border-radius: 3em;
}

.spotifyPlayer {

    height: 780px;
    border: 2px solid white;
    border-radius: 5em;
}

.corner-wrapper {
    display: block;
    overflow: hidden;
    width: 350px;
    height: 780px;
    border-radius: 20px;
    transform: translateZ(0px);
    border: 2px solid #eee;
  }
  

.chuckCard {
    margin-right: 2vw;
    height: 780px;
    border: 2px solid white;
    border-radius: 2em;
}

#chuckPic {
    border-radius: 2em;
}
#chuck-text {
    height: 30%;
    overflow: scroll;
}

#click-chuck {
    margin-top: 2vh;
}

/* .vibesCard {
    margin-right: 2vw;
    height: 780px;
    background-image: url("goodvibes2.jpg");
    background-size: cover;
} */

.bottomContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5vh;
}


.topText {
    margin-bottom: 15vh;
}

p {
    font-size: 35px;
}

h5 {
    font-size: 45px;
}

#spaceImage {
    height: 450px;
  
}

#kittyPic {
    height: 450px;

}
#chuckPic {
    height: 450px;
}

.flexContainer {
    display: flex;
    justify-content: space-around;
}

.head {
    text-align: left;
}