* {
    font-family: 'Dancing Script', cursive;
}

html, body {
    background-color: #f4daff;
    height: 100%;
    width: 100%;
}

.form-group {
    margin-top: .9%;
    margin-left: 1%;
}

.form-control {
    width: 22vw;
}

#nav-container {
    display: flex;
    background-color: #244963;
    width: 25vw;
    z-index: 1;
}

.form-font {
    font-size: 80%;
}

input[placeholder="Subscribe to our daily email!"] {
    font-size: 92%;
    height: 4vh;
}

.top-right {
    background-color: #244963;
    z-index: 1;
    font-size: 150%;
    width: 100vw;
}

.head {
    text-align: left;
}

#myContainer {
    margin-top: -100px;
    margin-bottom: 15vh;
    background-size: 100%;
}

.head-text {
    font-size: 520%;
}

.comment-text {
    font-size: 380%;
    margin-bottom: 10vh;
}

#click-quote, 
#space-quote, 
#click-chuck, 
#click-yoda, 
#click-wink {
    background-color: #41708c;
    color: white;
    font-weight: bold;
    border-radius: 2em;
}

.topContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: -10vh;
}


.position-row {
    margin-left: 2vw;
    margin-right: 2vw;
    
}

.kittyCard {
    padding: 10px;
    height: 780px;
    border-radius: 2em;
    margin-bottom: 2vh;
}

#kittyPic {
    border-radius: 2em;
    height: 450px;
}

#affirmation {
    height: 30%;
    overflow: scroll;
    border-top: 2px solid black;
    margin-top: .5vh;
    

}
 
#author {
    margin-top: 1vh;
}

.yodaCard {
    height: 780px;
    border-radius: 2em;
    padding: 10px;
    margin-bottom: 2vh;
}

#yoda-text{
    height: 30%;
    overflow: scroll;
    border-top: 2px solid black;
    margin-top: .5vh;
    
}

#translation {
    margin-top: 1vh;
}

#yodaPic {
    border-radius: 2em;
    height: 59.7%;
}

#click-yoda {
        margin-top: 4vh;
};

#spaceCard {
    height: 780px;
    border-radius: 2em;
    padding: 10px;
}

#spaceImage {
    border-radius: 2em;
    padding: 10px;
    height: 450px;
    height: 59.7%;
}

.space-place {
    height: 29%;
}

#spotifyPlayer {
    border-radius: 3em;
    margin-bottom: 2vh;
}

.corner-wrapper {
    padding: 10px;
    display: block;
    overflow: hidden;
    width: 350px;
    height: 780px;
    border-radius: 20px;
    transform: translateZ(0px);

}

.chuckCard {
    padding: 10px;
    height: 780px;
    border-radius: 2em;
    margin-bottom: 2vh;
}

#chuckPic {
    border-radius: 2em;
    height: 450px;
    height: 59.7%;
}

#chuck-text {
    overflow: scroll;
    height: 40vh;
}

#click-chuck {
    margin-top: 2vh;
}

.bottomContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5vh;
}

.topText {
    margin-bottom: 15vh;
}

p {
    font-size: 35px;
}

h5 {
    font-size: 45px;
}


.flexContainer {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1465px) {
    .comment-text {
        display: none;
    }

    .head-text {
        margin-bottom: 10vh;
    }
}

@media only screen and (max-width: 1050px) {
    .head-text {
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 638px) {
    .head-text {
        font-size: 420%;
    }
}


@media only screen and (max-width: 515px) {
    .head-text {
        font-size: 320%;
    }
}

@media only screen and (max-width: 489px) {
    #nav-container {
        display: none;
    }
}

@media only screen and (max-width: 385px) {
    .head-text {
        font-size: 280%;
    }
}

@media only screen and (max-width: 340px) {
    .head-text {
        font-size: 250%;
    }
}

@media only screen and (max-width: 340px) {
    .head-text {
        font-size: 220%;
    }
}

@media only screen and (max-width: 262px) {
    .head-text {
        font-size: 166%;
    }
}


@media only screen and (max-width: 195px) {
    .head-text {
        font-size: 156%;
    }
}