
* {
    font-family: 'Dancing Script', cursive;
}


.myContainer {
    margin-top: -100px;
    margin-bottom: 15vh;
    background-image: url('confetti.jpg');
    background-size: 100%;
}

footer {
    background-image: url('confetti.jpg');
}

.head-text {
    font-size: 120px;
}

.comment-text {
    font-size: 80px;
    margin-bottom: 10vh;
}

#click-quote, 
#space-quote, 
#click-chuck {
    background-color: #366383;
    color: white;
}

.topContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: -10vh;
    margin-bottom: 5vh;
}

.kittyCard {
    margin-left: 4vw;
    margin-right: 2vw;
    height: 780px;
}

#affirmation {
    background-color: white;
    height: 30%;
    overflow: scroll;
    
}
 
.spaceCard {
    margin-right: 2vw;
    height: 780px;
}

.space-place {
    height: 30%;
}

#spotifyPlayer {
    margin-right: 2vw;
    height: 780px;
}

.chuckCard {
    margin-right: 2vw;
    height: 780px;
}

#chuck-text {
    height: 30%;
    overflow: scroll;
}

#click-chuck {
    margin-top: 2vh;
}

/* .vibesCard {
    margin-right: 2vw;
    height: 780px;
    background-image: url("goodvibes2.jpg");
    background-size: cover;
} */

.bottomContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5vh;
}


.topText {
    margin-bottom: 15vh;
}

p {
    font-size: 35px;
}

h5 {
    font-size: 45px;
}

#spaceImage {
    height: 450px;
  
}

#kittyPic {
    height: 450px;

}
#chuckPic {
    height: 450px;
}

.flexContainer {
    display: flex;
    justify-content: space-around;
}

.head {
    text-align: left;
}