* {
    font-family: 'Dancing Script', cursive;
}

#myContainer {
    margin-top: -100px;
    margin-bottom: 15vh;
    background-color: #f4daff;
    background-size: 100%;
}

.head-text {
    font-size: 120px;
}

.comment-text {
    font-size: 80px;
    margin-bottom: 10vh;
}

#click-quote, 
#space-quote, 
#click-chuck {
    background-color: #41708c;
    color: white;
    font-weight: bold;
    border-radius: 2em;
}

.topContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: -10vh;
    margin-bottom: 5vh;
}

.kittyCard {
    margin-left: 2vw;
    height: 780px;
    border: 2px solid white;
    border-radius: 2em;
}

#kittyPic {
    border-radius: 2em;
}

#affirmation {
    background-color: white;
    height: 30%;
    overflow: scroll;
}
 
.spaceCard {
    height: 780px;
    border: 2px solid white;
    border-radius: 2em;
}

#spaceImage {
    border-radius: 2em;
}

.space-place {
    height: 30%;
}

#spotifyPlayer {

    height: 780px;
    border: 2px solid white;
    border-radius: 3em;
}

.spotifyPlayer {

    height: 780px;
    border: 2px solid white;
    border-radius: 5em;
}

.corner-wrapper {
    display: block;
    overflow: hidden;
    width: 350px;
    height: 780px;
    border-radius: 20px;
    transform: translateZ(0px);
    border: 2px solid #eee;
  }
  
.chuckCard {
    margin-right: 2vw;
    height: 780px;
    border: 2px solid white;
    border-radius: 2em;
}

#chuckPic {
    border-radius: 2em;
}
#chuck-text {
    height: 30%;
    overflow: scroll;
}

#click-chuck {
    margin-top: 2vh;
}

/* .vibesCard {
    margin-right: 2vw;
    height: 780px;
    background-image: url("goodvibes2.jpg");
    background-size: cover;
} */

.bottomContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5vh;
}


.topText {
    margin-bottom: 15vh;
}

p {
    font-size: 35px;
}

h5 {
    font-size: 45px;
}

#spaceImage {
    height: 450px;
}

#kittyPic {
    height: 450px;
}

#chuckPic {
    height: 450px;
}

.flexContainer {
    display: flex;
    justify-content: space-around;
}

.head {
    text-align: left;
}



/* -----------------------------bad vibes style sheet--------------------------------------------------------- */
.bodyBadVibes {
    background-color: rgb(1, 1, 1);
}
/* container formatting */
#myContainer2 {
    margin-top: -30px;
    margin-bottom: 15vh;
    background-size: 100%;
}

/* cards layout formatting */
.sadCard,
.gifCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(33, 21, 28);
    height: 780px;
    border: 5px rgb(31, 21, 28);
    border-radius: 2em;
}

.angryMusicCard {
    display: block;
    overflow: hidden;
    width: 350px;
    height: 780px;
    border-radius: 2em;
    transform: translateZ(0px);
    border: 5px rgb(31, 21, 28);
}

/* images inside card formatting */
#sadPic,
#fireGif {
    height: 400px;
    border-radius: 2em;
}

/* texts inside card formatting */
.jokeSetup {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    margin: 5px;
}

.jokePunchline {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    color: maroon;
    margin: 5px;
}

.gifText,
.gifTitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    margin: 5px;
}

/* click button formatting */
#click-quote2 {
    background-color: rgb(220, 53, 69);
    color: white;
    font-weight: bold;
    border-radius: 2em;
}

.button1,
.button2 {
    font-family: 'Courier New', Courier, monospace;
}

/* email formatting */
.emailForm {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    margin-top: 50px;
}

.emailTextBox {
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

.subscribeButton {
    font-weight: bold;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}
/* link formatting */
#linkToGoodVibes {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-left: 35%;
    margin-right: 35%;
}